{% extends "main.html" %}
 
{% block content %}
<div class="col-md-12">
    <h4>Create Account</h4> 
         
    <form method="POST" class="post-form" action="">  
    {% csrf_token %}  
        <div class="container">  
            <br>  
            <div class="form-group row">  
                <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                    <h3>Enter Details:</h3>  
                </div>  
            </div>  
            
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Account:</label>  
                <div class="col-sm-4">  
                    {{ form.userName }}  
                </div>  
            </div>  
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Password:</label>  
                <div class="col-sm-4">  
                    {{ form.password }}  
                </div>
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Main Account's Password:</label>  
                <div class="col-sm-4">  
                    <input type="password" name="main_password">
                </div>  
            </div>    
            </div>  
            <div class="form-group row">  
                    <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                    <button type="submit" class="btn btn-primary">Submit</button>  
                </div>  
            </div>  
        </div>  
    </form>  
</div> 
{% endblock content %} 