{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a1d0f1;">
    
    
     <span id="hello-msg" style="text-align: left;">Hello, {{request.user}} </span>

        <button id ='navbarButton' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href={% url 'logout' %}>Logout</a>
            </li>
            
          </ul>
        </div>


      </nav>